div {
    margin: 0;
    padding: 0;
    min-height: inherit;
}

#board {
    border: 1px solid dimgrey;
    display: inline-block;
}

#board > div > div {
    width: 10px;
    height: 10px;
    margin: 1px;
    display: inline-block;
}

#board .row {
    height: 12px;
}

#board .row .snake {
    background: rgb(37, 141, 40);
}

#board .row .food {
    background: rgb(187, 75, 75);
}